html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "HankenGrotesk-Regular";
  src: local("HankenGrotesk-Regular"),
    url("../public/assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "HankenGrotesk-Medium";
  src: local("HankenGrotesk-Medium"),
    url("../public/assets/fonts/static/HankenGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "HankenGrotesk-Bold";
  src: local("HankenGrotesk-Bold"),
    url("../public/assets/fonts/static/HankenGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "HankenGrotesk-ExtraBold";
  src: local("HankenGrotesk-ExtraBold"),
    url("../public/assets/fonts/static/HankenGrotesk-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

.fontFaceHankenGroteskRegular {
  font-family: "HankenGrotesk-Regular" !important;
}
.fontFaceHankenGroteskMedium {
  font-family: "HankenGrotesk-Medium" !important;
}
.fontFaceHankenGroteskBold {
  font-family: "HankenGrotesk-Bold" !important;
}
.fontFaceHankenGroteskExtraBold {
  font-family: "HankenGrotesk-ExtraBold" !important;
}



img {
  max-width: 100%;
  display: block;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.fl {
  display: flex;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}


.content {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}

.centered-content {
  width: 700px;
  min-height: 100%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-wrapper {
  min-height: 200px;
  width: 100%;
  padding: 3rem;
  border-radius: 1rem 1rem 10rem 1rem;
}

@media only screen and (max-width: 700px) {
  .centered-content {
    width: 100% !important;
    padding: 1rem;
  }

}